/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Fonts */
@font-face {
  font-family: 'Whitney Book';
  src: url(fonts/Whitney-Book-Pro.otf) format('opentype');
}

@font-face {
  font-family: 'Whitney Medium';
  src: url(fonts/Whitney-Medium-Pro.otf) format('opentype');
}

@font-face {
  font-family: 'Whitney Light';
  src: url(fonts/Whitney-Light-Pro.otf) format('opentype');
}

/* Custom variables */
:root {
  --brand-color-orange: #E0820B;
  --brand-color-green: #91DC3E;
  --brand-color-purple: #F860C8;
  --brand-color-blue: #4A91F2;
  --font-color-body: #37384C;
  --font-color-light: #12263F;
  --background-color-dark: #37384C;
  --background-color-grey: #F9FBFD;
}

/* Utility classes */

.grid-container {
  display: grid;
  grid-template-columns: minmax(17rem, 59rem);
  justify-content: center;
}

body {
  color: var(--font-color-body);
}

h1 {
  font-family: "Whitney Book";
  font-size: 3rem;
  line-height: 3.5rem;
}

p {
  font-family: "Whitney Book";
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.button {
  width: max-content;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.625rem;
  box-shadow: 0 1px 2px 0 #37384C16, 0 4px 8px 0 #37384C08, 0 8px 16px 0 #37384C04;
}

a {
  text-decoration: none;
  color: inherit
}

/* NAV */
.nav-wrapper {
  width: 100%;
  background-color: var(--background-color-dark);
}

nav {
  min-width: 17rem;
  max-width: 59rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

/* HERO */
.home-hero {
  padding-top: 6rem;
  padding-bottom: 7.813rem;
  background-color: var(--background-color-dark);
  background-image: url(images/hero-background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.home-hero-animation {
  margin-bottom: 6rem;
}

.home-hero-animation>img {
  width: 100%;
}

.home-hero-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.home-hero-subtitle {
  max-width: 26rem;
  font-family: "Whitney Light";
  color: #ffffff80;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-inline: auto;
}

.button-primary {
  background-color: var(--brand-color-blue);
  font-family: "Whitney Medium";
  color: #ffffff;
  margin-inline: auto;
  transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #3f79cb;
}

/* PARTNERS */
.home-partners-container {
  max-width: 944px;
  margin-top: -27px;
  margin-inline: auto;
  margin-bottom: 87px;
  padding-top: 36px;
  padding-bottom: 24px;
  padding-inline: 68px;
  border-radius: 1rem;
  background-color: var(--background-color-grey);
  box-shadow: 0 4px 12px 0 #00000005;
}

.home-partners-title {
  font-family: "Whitney Book";
  font-size: 20px;
  line-height: 28px;
  color: var(--font-color-light);
  text-align: center;
  margin-bottom: 24px;
}

.partners-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.partner-row-1,
.partner-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo-container {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.partner-logo-container>img {
  opacity: 90%;
  max-width: 70%;
}

/* Responsiveness */
@media screen and (max-width: 968px) {

  nav,
  .grid-container,
  .home-partners-container {
    margin-inline: 24px;
  }
}

@media screen and (max-width: 768px) {

  nav,
  .home-hero {
    padding-inline: 1.5rem;
  }

  .home-partners-container {
    padding-inline: 36px;
    padding-bottom: 36px;
  }

  .partner-row-1,
  .partner-row-2 {
    display: grid;
    grid-template-rows: repeat(5, 50px);
  }

  .partners-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .partner-logo-container>img {
    max-width: 40%;
  }
}

@media screen and (max-width: 430px) {

  .partner-logo-container>img {
    max-width: 70%;
  }
}