/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Fonts */
@font-face {
  font-family: 'Whitney Book';
  src: url(fonts/Whitney-Book-Pro.otf) format('opentype');
}

@font-face {
  font-family: 'Whitney Medium';
  src: url(fonts/Whitney-Medium-Pro.otf) format('opentype');
}

@font-face {
  font-family: 'Whitney Light';
  src: url(fonts/Whitney-Light-Pro.otf) format('opentype');
}

/* Custom variables */
:root {
  --brand-color-orange: #E0820B;
  --brand-color-green: #91DC3E;
  --brand-color-purple: #F860C8;
  --brand-color-blue: #4A91F2;
  --font-color-body: #37384C;
  --font-color-light: #12263F;
  --background-color-dark: #37384C;
  --background-color-grey: #F9FBFD;
}

/* Utility classes and texts */

.grid-container {
  display: grid;
  grid-template-columns: minmax(17rem, 59rem);
  justify-content: center;
}

body {
  color: var(--font-color-body);
}

h1 {
  font-family: "Whitney Book";
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-family: "Whitney Book";
  font-size: 3rem;
  line-height: 3.5rem;
}

p {
  font-family: "Whitney Book";
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.button {
  width: max-content;
  min-height: 24px;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.625rem;
  box-shadow: 0 1px 2px 0 rgba(55, 56, 76, 0.16), 0 4px 8px 0 rgba(55, 56, 76, 0.08), 0 8px 16px 0 rgba(55, 56, 76, 0.4);
}

a {
  text-decoration: none;
  color: inherit
}

.home-section-title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.text-orange {
  color: var(--brand-color-orange);
}

/* NAV */
.nav-wrapper {
  width: 100%;
  background-color: var(--background-color-dark);
}

nav {
  min-width: 17rem;
  max-width: 59rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

/* HERO */
.home-hero {
  padding-top: 6rem;
  padding-bottom: 7.813rem;
  background-color: var(--background-color-dark);
  background-image: url(images/hero-background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.home-hero-animation {
  margin-bottom: 6rem;
  min-height: 32px;
}

.home-hero-animation>img,
.home-hero-animation>svg {
  width: 100%;
}

/* hero lines animation */

#top-green-line {
  transform: translate(-163px, 1px);
  stroke-linecap: round;
  animation: growAnimationReverse, greenLineColor;
  animation-delay: 1s, 2s;
  animation-duration: 2s, 18s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  pointer-events: none;
}


#bottom-green-line {
  animation: growAnimation, greenLineColor;
  animation-delay: 1s, 2s;
  animation-duration: 2s, 18s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  pointer-events: none;
}

#top-orange-line {
  animation: growAnimationReverse, orangeLineColor;
  animation-delay: 1s, 2s;
  animation-duration: 1s, 18s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  pointer-events: none;
}

#bottom-orange-line {
  transform: translate(403px, 10px);
  stroke-linecap: round;
  animation: growAnimationReverse, orangeLineColor;
  animation-delay: 1s, 2s;
  animation-duration: 2s, 18s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  pointer-events: none;
}

#purple-line-left {
  animation: growAnimationReverse, middleLineColor;
  animation-delay: 0.8s, 2s;
  animation-duration: 1s, 18s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  pointer-events: none;
}

#purple-line-right {
  animation: growAnimation, middleLineColor;
  animation-delay: 1s, 2s;
  animation-duration: 1s, 18s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  pointer-events: none;
}

@keyframes growAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes growAnimationReverse {
  to {
    stroke-dashoffset: 1200;
  }
}


@keyframes middleLineColor {
  25% {
    stroke: var(--brand-color-green);
  }

  37.5% {
    stroke: var(--brand-color-green);
  }

  50% {
    stroke: var(--brand-color-orange);
  }

  62.5% {
    stroke: var(--brand-color-orange);
  }

  75% {
    stroke: var(--brand-color-purple);
  }

  100% {
    stroke: var(--brand-color-purple);
  }
}

@keyframes greenLineColor {
  25% {
    stroke: var(--brand-color-green);
  }

  37.5% {
    stroke: var(--brand-color-orange);
  }

  50% {
    stroke: var(--brand-color-orange);
  }

  62.5% {
    stroke: var(--brand-color-purple);
  }

  75% {
    stroke: var(--brand-color-purple);
  }

  100% {
    stroke: var(--brand-color-green);
  }
}

@keyframes orangeLineColor {
  25% {
    stroke: var(--brand-color-green);
  }

  37.5% {
    stroke: var(--brand-color-purple);
  }

  50% {
    stroke: var(--brand-color-orange);
  }

  62.5% {
    stroke: var(--brand-color-green);
  }

  75% {
    stroke: var(--brand-color-purple);
  }

  100% {
    stroke: var(--brand-color-orange);
  }
}

/* hero content */

.home-hero-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.home-hero-subtitle {
  max-width: 26rem;
  font-family: "Whitney Light";
  color: #ffffff;
  opacity: 60%;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-inline: auto;
}

.button-primary {
  background-color: var(--brand-color-blue);
  font-family: "Whitney Medium";
  color: #ffffff;
  margin-inline: auto;
  transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #3f79cb;
}

/* PARTNERS */
.home-partners-container {
  max-width: 59rem;
  margin-top: -1.688rem;
  margin-inline: auto;
  margin-bottom: 5.438rem;
  padding-top: 2.25rem;
  padding-bottom: 1.5rem;
  padding-inline: 4.25rem;
  border-radius: 1rem;
  background-color: var(--background-color-grey);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.home-partners-title {
  font-family: "Whitney Book";
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--font-color-light);
  text-align: center;
  margin-bottom: 1.5rem;
}

.partners-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.partner-row-1,
.partner-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
}

.partner-logo-container {
  display: flex;
  justify-content: space-around;
  padding: 0.75rem;
}

.partner-logo-container>img {
  opacity: 90%;
  max-width: 70%;
}

/* WHY CHOOSE SALV? */
.home-why-choose-salv p {
  max-width: 39rem;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 7.875rem;
}

/* NEW SECTION */
.home-new-section {
  height: 4rem;
  background-color: var(--background-color-dark);
}

/* Responsiveness */
@media screen and (max-width: 968px) {

  nav,
  .grid-container,
  .home-partners-container,
  .home-section-title {
    margin-inline: 1.5rem;
  }

  .home-why-choose-salv p {
    padding-inline: 1.5rem;
  }
}

@media screen and (max-width: 768px) {

  .home-hero {
    padding-top: 2rem;
  }

  .home-hero-animation {
    position: relative;
    height: 3rem;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  .home-hero-animation>svg {
    transform: scale(2);
    display: revert;
    height: 3rem;
  }

  .home-hero-subtitle {
    margin-bottom: 2.5rem;
  }

  .home-partners-container {
    padding-inline: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .partner-row-1,
  .partner-row-2 {
    display: grid;
    grid-template-rows: repeat(5, 50px);
  }

  .partners-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .partner-logo-container>img {
    max-width: 40%;
  }
}

@media screen and (max-width: 430px) {

  .home-hero-animation>svg {
    transform: scale(3);
  }

  .partner-logo-container>img {
    max-width: 70%;
  }
}